.blog{
    .nav-link{
        margin-top: 10px;
        margin-left: 30px;
        font-size: 14px;
        line-height: 80px;
        color: #a3a6a9;
        font-weight: 400;
        text-transform: capitalize;
        font-family: "Poppins-Medium";
        @media screen and (max-width: 992px){
            display: flex;
            margin-right: -30px;
        }
        @media screen and (max-width: 768px){
            margin-bottom: -60px;
        }
    }
    .active{
        font-size: 14px;
        line-height: 80px;
        color: #ff5e29;
        font-weight: 500;
        font-family: "Poppins-Medium";
    }
    .progress{
        background-color: #a3a6a9;
        .progress-bar{
            background-color: $bg-btn2;
        }
        @media screen and (max-width: 992px){
            display: none;
        }
    }
    .blog-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        .facebook{
            margin-top: 60px;
            img{
                width: 60px;
                height: 60px;
                @media screen and (max-width: 768px){
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .twitter{
            margin-top: 30px;
            img{
                width: 60px;
                height: 60px;
                @media screen and (max-width: 768px){
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .pinterest{
            margin-top: 30px;
            img{
                width: 60px;
                height: 60px;
                @media screen and (max-width: 768px){
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .google-plus{
            margin-top: 30px;
            img{
                width: 60px;
                height: 60px;
                @media screen and (max-width: 768px){
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .heart{
            margin-top: 100px;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border: 1px solid $bg-color-blue;
            i{
                margin: 10px;
                font-size: 12px;
                letter-spacing: 0px;
                line-height: 14px;
                color: $bg-color-blue;
                font-family: "Material Icons";
                animation: shake 1s infinite;
                @keyframes shake {
                    0% { transform: translateY(0); }
                    25% { transform: translateY(-3px); }
                    50% { transform: translateY(0); }
                    75% { transform: translateY(3px); }
                    100% { transform: translateY(0); }
                  }
            }
            p{
                font-size: 12px;
                letter-spacing: 0px;
                line-height: 14px;
                color: $bg-color-blue;
                font-family: "Poppins-Regular";
                @media screen and (max-width: 768px){
                    margin-top: -10px;
                }
            }
            @media screen and (max-width: 768px){
                width: 40px;
                height: 40px;
            }
        }
        .eye{
            margin-top: 20px;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border: 1px solid $bg-color-blue;
            i{
                margin: 10px;
                font-size: 12px;
                letter-spacing: 0px;
                line-height: 14px;
                color: $bg-color-blue;
                font-family: "Material Icons";
                animation: scaleUpDown 1s infinite;
                @keyframes scaleUpDown {
                    0% { transform: scale(1); }
                    50% { transform: scale(1.3); }
                    100% { transform: scale(1); }
                  }
            }
            p{
                font-size: 12px;
                letter-spacing: 0px;
                line-height: 14px;
                color: $bg-color-blue;
                font-family: "Poppins-Regular";
                @media screen and (max-width: 768px){
                    margin-top: -10px;
                }
            }
            @media screen and (max-width: 768px){
                width: 40px;
                height: 40px;
            }
        }
    }
    .blog-text{
        margin-top: 50px;
        h2{
            font-size: 33px;
            color: #323538;
            font-weight: 500;
            font-family: "Poppins-Medium";
        }
        .data{
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 38px;
            color: #a3a6a9;
            font-family: "Font Awesome";
        }
        img{
            width: 100%;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        }
        p{
            margin-top: 20px;
            font-size: 14px;
            line-height: 22px;
            color: #51555a;
            font-weight: 400;
            font-family: "Poppins-Regular";
        }
        .continue-reading{
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 38px;
            text-decoration: none;
            text-transform: uppercase;
            color: $bg-btn2;
            font-weight: 500;
            font-family: "Poppins-Medium";
            @media screen and (max-width: 250px){
                display: none;
            }
        }
        .continue-reading-img{
            color: $bg-btn2;
            @media screen and (max-width: 250px){
                display: flex;
            }
        }
        hr{
            height: 2px;
            background-color: $bg-color-blue;
        }
        .pagination{
            margin-top: 30px;
            .page-link{
                border: none;
                text-decoration: none;
                font-size: 13px;
                letter-spacing: 10px;
                color: #a3a6a9;
                font-weight: 500;
                font-family: "Poppins-Regular";
                @media screen and (max-width: 992px){
                    font-size: 10px;
                    margin-right: -10px;
                }
                @media screen and (max-width: 768px){
                    margin-right: -20px;
                }
            }
            .active-pag{
                color: #fff;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $bg-color-blue;
                z-index: 1;
                @media screen and (max-width: 992px){
                    width: 20px;
                    height: 23px;
                }
                @media screen and (max-width: 768px){
                    width: 10px;
                    height: 23px;
                    margin-right: -10px;
                }
            }
        }
    }
}