.blockGirl{
    background: #e6f7fe; 
    background-image: url(../../../assets/img/img-city.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    padding-top: 100px;
    height: 100%;
    animation: moveBackground 25s linear infinite;
    @keyframes moveBackground {
        0% {
            background-position: 0 bottom;
        }
        100% {
            background-position: 100% bottom;
        }
    }
    @media screen and (max-width: 768px){
        padding-top: 50px;
        text-align: center;
    }
    .girl{
        @media screen and (max-width: 768px){
            padding-top: 20px;
        }
        @media screen and (max-width: 400px){
            width: 200px;
        }
    }
    .button-border{
        text-align: left;
    }
}
.blockGirl .main-text h1{
    font-size: 47px;
    letter-spacing: -1px;
    color: $bg-color-blue;
    font-weight: 900;
    font-family: 'Poppins-Bold';
    text-align: left;
    @media screen and (max-width: 992px){
        font-size: 40px;
    }
    @media screen and (max-width: 400px){
        font-size: 30px;
    }
    @media screen and (max-width: 313px){
        font-size: 20px;
    }
}
.blockGirl .main-text h1 span{
    color: #000;
    text-align: left;
    @media screen and (max-width: 992px){
        font-size: 35px;
    }
    @media screen and (max-width: 400px){
        font-size: 30px;
    }
    @media screen and (max-width: 313px){
        font-size: 20px;
    }
}
.blockGirl .main-text .progress{
    margin-top: 20px;
    background-color: #313537;
    height: 2px;
    text-align: left;
}
.blockGirl .main-text .progress-bar{
    background-color: $bg-btn2;
}
.main-text p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: $p-color;
    font-weight: 400;
    text-align: left;
    font-family: "Poppins-Regular";
}
.blockGirl .main-text button{
    width: 220px;
    height: 50px;
    border-radius: 3px;
    border: none;
    background-color: $bg-btn2;
    width: 178px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins-Regular";
    text-align: center;
    &:hover{
        background-color: $bg-btn2-hover;
    }
}
.blockGirl .blue-line{
    height: 100%;
    filter: drop-shadow(0px 4px 15px rgba(202,202,202,0.15));
    background-color: $bg-color-blue;
    display: flex;
    align-items: center;
    position: relative;
    top: 70px;
    padding: 30px;
    margin-top: -90px;
    @media screen and (max-width: 992px){
        margin-bottom: 50px;
    }
    p{
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Poppins-Regular";
        margin: 0;
        text-align: left;
        @media screen and (max-width: 313px){
            font-size: 10px;
        }
    }
    select{
        width: 100%;
        height: 50px;
        border-radius: 3px;
        background-color: #f6f9f9;
        border: 1px solid #d8dadb;
        font-size: 13px;
        color: $p-color;
        font-weight: 400;
        font-family: "Poppins-Regular";
        padding: 0 10px;
    }
    .counter{
        margin-top: 20px;
        height: 50px;
    }
}
.girl{
    position: relative;
    z-index: 1;
}
.continue{
    height: 50px;
    border-radius: 3px;
    background-color: $bg-btn1;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins-Regular";
    text-align: center;
    border: none;
    margin-top: 20px;
    &:hover{
        background-color: $bg-btn1-hover;
    }
}
