.blockGirl{
    background: #e6f7fe; 
    background-image: url(../../../assets/img/img-cloud.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    padding-top: 100px;
    height: 620px;
}
.blockGirl .main-text h1{
    font-size: 47px;
    letter-spacing: -1px;
    color: #03a9f4;
    font-weight: 900;
    font-family: Poppins-Bold;
}
.blockGirl .main-text h1 span{
    color: #000;
}
.blockGirl .main-text .progress{
    margin-top: 20px;
    background-color: #313537;
    height: 2px;
}
.blockGirl .main-text .progress-bar{
    background-color: #f75d2d;
}
.main-text p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #656a70;
    font-weight: 400;
    font-family: "Poppins_Regular";
}
.blockGirl .main-text button{
    width: 220px;
    height: 50px;
    border-radius: 3px;
    border: none;
    background-color: #f75d2d;
    width: 178px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}
.blockGirl .blue-line{
    height: 135px;
    filter: drop-shadow(0px 4px 15px rgba(202,202,202,0.15));
    background-color: #03a9f3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -20px;
    
    p{
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Poppins-Regular";
        margin: 0;
    }
    select{
        width: 202px;
        height: 50px;
        border-radius: 3px;
        background-color: #f6f9f9;
        border: 1px solid #d8dadb;
        font-size: 13px;
        color: #656a70;
        font-weight: 400;
        font-family: "Poppins-Regular";
        padding: 0 10px;
        padding-right: 20px;
    }
    .counter{
        margin-top: 20px;
        // width: 202px;
        height: 50px;
    }
}
.girl{
    position: relative;
    z-index: 1;
}
.continue{
    width: 202px;
    height: 50px;
    border-radius: 3px;
    background-color: #0187c3;
    width: 178px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    text-align: center;
    border: none;
    margin-top: 20px;
}
