.city_header{
    background: #e6f7fe; 
    background-image: url(../../../assets/img/img-city.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    animation: moveBackground 25s linear infinite;

    @keyframes moveBackground {
        0% {
            background-position: 0 bottom;
        }
        100% {
            background-position: 100% bottom;
        }
    }

    h2{
        font-size: 35px;
        color: #1e2021;
        font-family: "Poppins-Bold";
    }
    .nav-link{
        padding-left: 0;
        padding-right: 50px;
        font-size: 14px;
        text-transform: uppercase;
        color: #656a70;
        font-weight: 400;
        font-family: "Poppins-Medium";
        position: relative;
        @media screen and (max-width: 992px){
            display: flex;
        }
    }
    .nav-link::after{
        content: '>';
        position: absolute;
        left: 55px;
    }
    .actives{
        color: #1e2021;
    }
    .actives::after{
        display: none;
    }
}