.error{
    background-image: url(../../../assets/img/clouds.png);
    height: 100%;
    background-repeat: repeat-x;
    background-position: 0 0;
    position: relative;
    z-index: 0;
    padding-top: 70px;
    animation: moveClouds 30s linear infinite;
    @keyframes moveClouds {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 100% 0;
        }
    }
    .waterwaves{
        width: 100%;
        height: 200px;
        margin-bottom: -50px;
        position: relative;
        z-index: -1;
    }
    .boat{
        position: absolute;
        top: 80px;
        animation: waveMotion 5s ease-in-out infinite;
        @keyframes waveMotion {
            0% {
                transform: translateY(0) rotate(0deg);
            }
            25% {
                transform: translateY(-20px) rotate(5deg);
            }
            50% {
                transform: translateY(0) rotate(0deg);
            }
            75% {
                transform: translateY(5px) rotate(-5deg);
            }
            100% {
                transform: translateY(0) rotate(0deg);
            }
        }
    }
    h3{
        font-size: 60px;
        text-transform: uppercase;
        color: $bg-btn2;
        font-family: "Poppins-Bold";
        text-align: center;
    }
    h4{
        font-size: 20px;
        color: #1e2021;
        font-weight: 500;
        font-family: "Poppins-Medium";
        text-align: center;
    }
    p{
        font-size: 13px;
        color: $p-color;
        font-weight: 400;
        font-family: "Poppins-Regular";
        text-align: center;
    }
    .buttons{
        text-align: center;
        margin-top: 30px;
        .button{
            width: 150px;
            height: 40px;
            border-radius: 3px;
            background-color: #ffffff;
            font-size: 13px;
            font-weight: 500;
            font-family: "Poppins-Medium";
            text-align: center;
            &:hover{
                border: none;
                color: #fff;
            }
        }
        .button1{
            border: 1px solid $bg-btn2;
            color: $bg-btn2;
            &:hover{
                background-color: $bg-btn2-hover;
            }
        }
        .button2{
            border: 1px solid $bg-btn1;
            color: $bg-btn1;
            &:hover{
                background-color: $bg-btn1-hover;
            }
        }
    }
    @media screen and (max-width: 992px){
        .boat{
            display: none;
        }
    }
}