footer{
    background-color: #03a9f3;
    padding: 20px 0 20px 0;
    margin-top: 50px;
    @media screen and (max-width: 576px){
        text-align: center;
    }
    .logo{
        float: left;
    }
    .dropstart{
        display: none;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul{
            display: flex;
            margin-top: 30px;

            li{
                margin-right: 60px;
                font-size: 12px;
                letter-spacing: 0px;
                line-height: 16px;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 500;
                font-family: "Poppins-Regular";
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: #ffffff;
                }
                &::after{
                    border: none;
                }
                @media screen and (max-width: 992px){
                    margin-right: 20px;
                }
            }
        }
    }
    hr{
        height: 1px;
        background-color: #ffffff;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .section{
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Poppins-Medium";
        margin-bottom: 30px;
        ul li{
            font-size: 13px;
            line-height: 28px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Poppins-Regular";
            margin-left: -30px;
            &:hover{
                cursor: pointer;
                color: $p-color;
            }
        }
    }
    .copyright{
        font-size: 13px;
        line-height: 21px;
        color: #ffffff;
        font-family: "museosans";
    }
    .link-img{
        padding-bottom: 20px;
        .facebook{
            margin-right: 10px;
            &:hover{
                content: url(../../../assets/img/facebook-hover.png);
            }
        }
        .twitter{
            margin-right: 10px;
            &:hover{
                content: url(../../../assets/img/twitter-hover.png);
            }
        }
        .pinterest{
            margin-right: 10px;
            &:hover{
                content: url(../../../assets/img/pinterest-hover.png);
            }
        }
        .google-plus{
            margin-right: 10px;
            &:hover{
                content: url(../../../assets/img/google-plus-hover.png);
            }
        }
    }
    .footer-phone{
        @media screen and (max-width: 576px){
            display: flex;
            justify-content: center;
        }
    }
    .phone-img,
    .email-img{
        float: left;
        padding-right: 20px;   
        @media screen and (max-width: 576px){
            width: 50px;
            height: 35px;
        }    
    }
    .phone-text{
        padding-left: 50px;
        font-size: 13px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Poppins-Regular";
        .number{
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #ffffff;
            font-family: "Poppins-Bold";
            @media screen and (max-width: 1200px){
                font-size: 12px;
            }
        }
        @media screen and (max-width: 992px){
            padding-left: 0;
        }
    }
    .email{
        padding-left: 50px;
        font-size: 13px;
        line-height: 5px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Poppins-Regular";
        .number{
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #ffffff;
            font-family: "Poppins-Bold";
            @media screen and (max-width: 1200px){
                font-size: 12px;
            }
        }
        @media screen and (max-width: 992px){
            padding-left: 0;
        }
    }
    @media screen and (max-width: 1200px){
        .logo{
            content: url(../../../assets/img/logo-sm.png);
        }
    }
    @media screen and (max-width: 768px){
        .hidden-list {
            display: none;
        }
        .section-item:hover .hidden-list {
            display: block; 
        }
    }
    @media screen and (max-width: 576px){
        .nav-footer{
            display: none;
        }
        .dropstart{
            display: flex;
        }
    }
}