header{
    filter: drop-shadow(0px 1px 2.5px rgba(0,0,0,0.1));
    background-color: $bg-color-blue;
    padding: 10px 0 20px 0;
}
.logo{
    float: left;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    display: flex;
    margin-top: 30px;
}
nav ul li{
    margin-right: 60px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Poppins-Regular';
    cursor: pointer;
    &:hover{
        color: $bg-btn1;
    }
}
nav ul li::after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
}
nav ul li:nth-child(3):after{
    border: none;
}
.phone{
    margin-top: 10px;
    margin-right: 40px;
    cursor: pointer;
    &:hover{
        content: url(../../../assets/img/phone-hover.png);
    }
}
.signIn{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: $bg-btn1;
    padding-top: 10px;
    font-size: 12px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Poppins-Regular';
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    &:hover{
        background-color: $bg-btn1-hover;
    }
}
.order{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: $bg-btn2;
    padding-top: 10px;
    font-size: 12px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Poppins-Regular';
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
    cursor: pointer;
    &:hover{
        background-color: $bg-btn2-hover;
    }
}
.burger{
    margin-top: 10px;
    cursor: pointer;
}