.hoveit{
    padding: 60px 0;
    text-align: center;

    h6{
        font-size: $h6-font-size;
        color: #0287c3;
        font-weight: 400;
        font-family: "Poppins-Regular";
        padding-bottom: 20px;
    }
    h2{
        font-size: 40px;
        color: #323538;
        font-weight: 500;
        font-family: "Poppins-Bold";
        text-align: center;
        padding-bottom: 40px;
    }
    .steps{

        .arrow_step{
            position: absolute;
            top: 0px;
            right: -20px;
            padding-top: 30px;
        }

        .step{
            padding: 40px;
            position: relative;
            animation: bounce 2s infinite ease-in-out;
            @keyframes bounce {
                0%, 100% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-20px);
                }
            }
    
            img{
                padding-bottom: 30px;
            }
            h3{
                font-size: 17px;
                text-transform: uppercase;
                color: #1e2021;
                font-weight: 600;
                font-family: "Poppins-Medium";
                text-align: center;
            }
            p{
                font-size: 18px;
                line-height: 20px;
                color: $p-color;
                font-weight: 400;
                font-family: "Poppins-Regular";
                text-align: center;
            }
            
        }
    }
    @media screen and (max-width: 576px){
        .arrow_step{
            display: none;
        }
    }
    @media screen and (max-width: 992px){
        .arrow_step2{
            display: none;
        }
    }
}