<div class="container-fluid blog_pages2">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7 col-12">
                <ul class="nav blog">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="../../../blog_pages1.html">Latest</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="../../../blog_pages2.html">Tabname2</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../../../blog_pages3.html">Tabname3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../../blog.html">Show all</a>
                    </li>
                </ul>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><a href="#"></a></div>
                </div>
                <img class="img-blog" src="../../../assets/img/woman-phone2.png" alt="">
                <div class="help">
                    <h3>Do you need essay help?</h3>
                    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolor ab facere veritatis fugiat ad voluptatibus consequatur assumenda accusantium sed aliquam cupiditate, maxime, vero nihil. Mollitia tenetur vel soluta sequi.</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, esse. Accusamus doloribus alias impedit commodi dolorum officiis praesentium, unde natus minus libero, odio cumque, pariatur aliquid! Temporibus magnam facere deleniti, eveniet rem doloribus! Libero, hic ex. Eum reprehenderit sequi vero repellat fuga id quam alias ipsam quisquam autem natus illo optio sapiente voluptatibus saepe possimus dicta earum delectus, in dolor error! Debitis ipsa dignissimos aliquid quam explicabo, aperiam molestias voluptas fugiat esse, quisquam perspiciatis praesentium sapiente vitae tenetur et assumenda. Tempore, maiores est quam delectus ullam explicabo, consequuntur eum natus numquam cumque reprehenderit deleniti quidem perferendis illo porro soluta facere.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla autem perferendis recusandae id. Debitis cupiditate eligendi error fugiat id itaque adipisci sint perspiciatis? Facere reiciendis at harum reprehenderit autem, quidem est eos nihil amet vitae totam in temporibus voluptatem. Molestiae dolore quam aperiam, ullam maxime ea culpa assumenda, aut adipisci ad alias autem voluptas fugiat nesciunt laboriosam amet quod consequuntur officia ipsa placeat neque dolores doloremque iure dolorem! Dolore mollitia quos dolores cumque quasi ab minus deserunt esse quod tenetur?</p>
                    <div class="row list">
                        <ul class="col-md-6 col-12 list1" type="none">
                            <li> But I must explain to you how</li>
                            <li>Mistaken idea of denouncing pleasure</li>
                            <li>Praising pain was born</li>
                            <li>Account of the system, and expound</li>
                            <li>Great explorer of the truth</li>
                            <li>No one rejects, dislikes</li>
                        </ul>
                        <ul class="col-md-6 col-12 list2" type="none">
                            <li> But I must explain to you how</li>
                            <li>Mistaken idea of denouncing pleasure</li>
                            <li>Praising pain was born</li>
                            <li>Account of the system, and expound</li>
                            <li>Great explorer of the truth</li>
                            <li>No one rejects, dislikes</li>
                        </ul>
                    </div>
                    <h4>Do you need essay help?</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, esse. Accusamus doloribus alias impedit commodi dolorum officiis praesentium, unde natus minus libero, odio cumque, pariatur aliquid! Temporibus magnam facere deleniti, eveniet rem doloribus! Libero, hic ex. Eum reprehenderit sequi vero repellat fuga id quam alias ipsam quisquam autem natus illo optio sapiente voluptatibus saepe possimus dicta earum delectus, in dolor error! Debitis ipsa dignissimos aliquid quam explicabo, aperiam molestias voluptas fugiat esse, quisquam perspiciatis praesentium sapiente vitae tenetur et assumenda. Tempore, maiores est quam delectus ullam explicabo, consequuntur eum natus numquam cumque reprehenderit deleniti quidem perferendis illo porro soluta facere.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla autem perferendis recusandae id. Debitis cupiditate eligendi error fugiat id itaque adipisci sint perspiciatis? Facere reiciendis at harum reprehenderit autem, quidem est eos nihil amet vitae totam in temporibus voluptatem. Molestiae dolore quam aperiam, ullam maxime ea culpa assumenda, aut adipisci ad alias autem voluptas fugiat nesciunt laboriosam amet quod consequuntur officia ipsa placeat neque dolores doloremque iure dolorem! Dolore mollitia quos dolores cumque quasi ab minus deserunt esse quod tenetur?</p>
                    <div class="blue-text">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus veniam tempore, soluta sunt commodi ipsum adipisci illum esse, delectus accusantium saepe culpa? Aperiam, et consequuntur. Aliquid commodi, praesentium et ex deleniti dolorum delectus ad. Nam sint sit veritatis maxime consectetur?</p>
                    </div>
                    <h4>Do you need essay help?</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, esse. Accusamus doloribus alias impedit commodi dolorum officiis praesentium, unde natus minus libero, odio cumque, pariatur aliquid! Temporibus magnam facere deleniti, eveniet rem doloribus! Libero, hic ex. Eum voluptas fugiat esse, quisquam perspiciatis praesentium sapiente vitae tenetur et assumenda. Tempore, maiores est quam delectus ullam explicabo, consequuntur eum natus numquam cumque reprehenderit deleniti quidem perferendis illo porro soluta facere.</p>
                    <h5>Do you need essay help?</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, esse. Accusamus doloribus alias impedit commodi dolorum officiis praesentium, unde natus minus libero, odio cumque, pariatur aliquid! Temporibus magnam facere deleniti, eveniet rem doloribus! Libero, hic ex. Eum voluptas fugiat esse, quisquam perspiciatis praesentium sapiente vitae tenetur et assumenda. Tempore, maiores est quam delectus ullam explicabo, consequuntur eum natus numquam cumque reprehenderit deleniti quidem perferendis illo porro soluta facere.</p>
                    <h6>Do you need essay help?</h6>
                    <div class="row">
                        <div class="col-6">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam at neque nihil exercitationem eaque deleniti est quam harum voluptas molestiae? Alias autem molestias culpa! Temporibus pariatur, sapiente, quaerat explicabo eligendi et repudiandae recusandae possimus eius ipsam ullam nam nulla nemo praesentium deserunt earum voluptatum magni quae sed rerum illum, asperiores vel alias atque. Saepe dolorum fugit reiciendis obcaecati autem officia, alias possimus perferendis eaque repellat eos rem velit mollitia ullam?</p>
                        </div>
                        <div class="col-6">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic saepe non minima quam, laboriosam molestias itaque dolorem impedit veniam quas nam magni atque fuga accusamus laborum quasi culpa beatae. Tempore totam optio nisi magnam atque repudiandae. Quibusdam animi porro, nesciunt excepturi atque vel molestias, officia minus perferendis nihil laboriosam dolorem similique corrupti iste voluptatibus sed harum, deleniti at eos illo rem commodi voluptate officiis. Officia iste velit odit quis iusto!</p>
                        </div>
                    </div>
                </div>
                <div class="row line-down">
                    <div class="col-lg-6 col-12 line-down-data">
                        <p><i class="bi bi-clock"></i> February 3, 2015 in Personal life</p>
                        <div class="line-down-views">
                            <i class="bi bi-heart-fill"></i>
                            <p>34</p>
                            <i class="bi bi-eye-fill"></i>
                            <p>39</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 line-down-link">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-pinterest"></i></a>
                        <a href="#"><i class="bi bi-google"></i></a>
                        <a href="#"><i class="bi bi-share-fill"></i></a>
                    </div>
                </div>
                <h3>Leave comment</h3>
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Name</label>
                        <input type="text" class="form-control" id="validationCustom01" placeholder="Enter text" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom02" class="form-label">Email</label>
                        <input type="text" class="form-control" id="validationCustom02" placeholder="Enter text" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustomUsername" class="form-label">Phone</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="validationCustomUsername" placeholder="Enter text" aria-describedby="inputGroupPrepend" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="validationCustom03" class="form-label">Your comment</label>
                        <input type="text" class="form-control" id="validationCustom03" placeholder="Enter text"  required>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Post comment</button>
                    </div>
                </form>
                <hr>
                <ul class="pagination d-none d-sm-flex">
                    <li><a class="page-link" href="../../../blog_pages1.html" aria-label="Previous">
                        <span aria-hidden="true"><i class="bi bi-caret-left"></i></span></a>
                    </li>
                    <li><a class="page-link" href="../../../blog_pages1.html">1</a></li>
                    <li><a class="page-link active-pag" href="../../../blog_pages2.html">2</a></li>
                    <li><a class="page-link" href="../../../blog_pages3.html">3</a></li>
                    <li><a class="page-link" href="#">4</a></li>
                    <li><a class="page-link" href="#">5</a></li>
                    <li><a class="page-link" href="#">6</a></li>
                    <li><a class="page-link" href="#">7</a></li>
                    <li><a class="page-link" href="#">8</a></li>
                    <li><a class="page-link" href="#">9</a></li>
                    <li><a class="page-link" href="../../../blog_pages3.html" aria-label="Next">
                        <span aria-hidden="true"><i class="bi bi-caret-right"></i></span></a>
                    </li>
                </ul>
                <ul class="pagination d-flex d-sm-none ">
                    <li><a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="bi bi-caret-left"></i></span></a>
                    </li>
                    <li><a class="page-link" href="../../../blog_pages1.html">1</a></li>
                    <li><a class="page-link active-pag" href="../../../blog_pages2.html">2</a></li>
                    <li><a class="page-link" href="../../../blog_pages3.html">3</a></li>
                    <li><a class="page-link" href="#">4</a></li>
                    <li><a class="page-link" href="../../../blog_pages1.html" aria-label="Next">
                        <span aria-hidden="true"><i class="bi bi-caret-right"></i></span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-5 col-12 pages_howit">
                <div class="right-column">
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInputGroup">Search</label>
                        <div class="input-group">
                            <input type="text" class="form-control custom-input" id="autoSizingInputGroup" placeholder="Search">
                            <div class="input-group-text custom-icon">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                    </div>
                    <h3>categories</h3>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <span class="accordion-icon"></span> Essay blog
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <span class="accordion-icon"></span> Business
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <span class="accordion-icon"></span> Design / Branding
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the third item's accordion body. Nothing more exciting, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <span class="accordion-icon"></span> Uncategorized
                              </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the third item's accordion body. Nothing more exciting, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                        </div>
                    </div>
                    <h3>Archive</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight1" aria-controls="offcanvasRight1">Jun 2016</li>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight1" aria-labelledby="offcanvasRightLabel1">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel1"><p><i class="bi bi-clock"></i> February 3, 2015 in Personal life</p></h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <img src="../../../assets/img/group-people.avif" alt="">
                            </div>
                        </div>
                        <li class="list-group-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight2">May 2016</li>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRightLabel2">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel2"><p><i class="bi bi-clock"></i> February 3, 2015 in Personal life</p></h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <img src="../../../assets/img/people-nout.jpg" alt="">
                            </div>
                        </div>
                        <li class="list-group-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight3" aria-controls="offcanvasRight3">Apr 2016</li>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight3" aria-labelledby="offcanvasRightLabel3">
                            <div class="offcanvas-header">
                                <h5 id="offcanvasRightLabel3"><p><i class="bi bi-clock"></i> February 3, 2015 in Personal life</p></h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <img src="../../../assets/img/people-nout2.jpg" alt="">
                            </div>
                        </div>
                    </ul>
                    <h3>Latest Blogs</h3>
                    <img src="../../../assets/img/group-people.avif" alt="">
                    <h4>Standard gallery post</h4>
                    <p><i class="bi bi-clock"></i> February 3, 2015 in Personal life</p>
                    <hr>
                    <img src="../../../assets/img/people-nout.jpg" alt="">
                    <h4>Standard gallery post</h4>
                    <p><i class="bi bi-clock"></i> February 3, 2015 in Personal life</p>
                    <hr>
                    <img src="../../../assets/img/people-nout2.jpg" alt="">
                    <h4>Standard gallery post</h4>
                    <p><i class="bi bi-clock"></i> February 3, 2015 in Personal life</p>
                    <hr>
                    <h3>We accept</h3>
                    <hr>
                    <img src="../../../assets/img/card.png" alt="">
                    <div class="second-block">
                        <div class="dashed">
                            <h4>Limited time offer</h4>
                            <img class="scissors" src="../../../assets/img/scissors.png" alt="">
                            <p class="prozent">15<span>%</span>off</p>
                            <p class="under">your first order</p>
                        </div>
                        <img class="raketa" src="../../../assets/img/raketa.png" alt="">
                    </div>
                    <h3>Our advantages</h3>
                    <hr>
                    <ul class="advantages-li" type="none">
                        <li>Custom Writing on Any Subject</li>
                        <li>English-speaking Writers</li>
                        <li>Only Original Papers</li>
                        <li>Affordable Prices</li>
                        <li>Complete Confidentiality</li>
                        <li>BA, MA and PhD Writers</li>
                        <li>Up-to-date Sources Only</li>
                        <li>Any Citation Style</li>
                    </ul>
                    <button class="under-button">Place an order</button>
                    <h3>Paper features</h3>
                    <hr>
                    <ul class="paper-li" type="none">
                        <li>You choose font face</li>
                        <li>12 point font size</li>
                        <li>Double-spaced pages</li>
                        <li>Over 300 words/page</li>
                        <li>Text aligned left</li>
                        <li>One-inch margins</li>
                    </ul>
                    <button class="under-button">Place an order</button>
                    <h3>Discounts</h3>
                    <hr>
                    <div class="wavy-circle-main">
                        <div class="wavy-circle wavy-circle1">
                            <div class="circle"></div>
                            <span>15%<br>OFF</span>
                        </div>
                        <div class="wavy-text">
                            <p class="for">for the</p>
                            <h5>1st order</h5>
                            <hr class="grey">
                        </div>
                        <div class="wavy-circle wavy-circle2">
                            <div class="circle"></div>
                            <span>5%<br>OFF</span>
                        </div>
                        <div class="wavy-text">
                            <p class="for">for more than</p>
                            <h5>20 pages</h5>
                            <hr class="grey">
                        </div>
                        <div class="wavy-circle wavy-circle3">
                            <div class="circle"></div>
                            <span>10%<br>OFF</span>
                        </div>
                        <div class="wavy-text">
                            <p class="for">for more than</p>
                            <h5>50 pages</h5>
                            <hr class="grey">
                        </div>
                        <div class="wavy-circle wavy-circle4">
                            <div class="circle"></div>
                            <span>15%<br>OFF</span>
                        </div>
                        <div class="wavy-text">
                            <p class="for">for more than</p>
                            <h5>100 pages</h5>
                            <hr class="grey">
                        </div>
                    </div>
                    <button class="under-button">Place an order</button>
                </div>
            </div>
        </div>
    </div>
</div>