<div class="discounts container-fluid">
    <div class="container">
        <h6>04  Discounts</h6>
        <h2>Our discount program</h2>
        <p>By utilizing elements and principles of Material Design, we were <br> able to create a framework that incorporates</p>
        <div class="row discount-blocks">
            <div class="col-7 first-block">
                <table>
                    <tr>
                        <td><h4>4% OFF</h4><p>for more than <span>15 pages</span></p></td>
                        <td><h4>4% OFF</h4><p>for more than <span>15 pages</span></p></td>
                    </tr>
                    <tr>
                        <td><h4>4% OFF</h4><p>for more than <span>15 pages</span></p></td>
                        <td><h4>4% OFF</h4><p>for more than <span>15 pages</span></p></td>
                    </tr>
                </table>
            </div>
            <div class="col-5 second-block">
                <div class="dashed">
                    <h4>Try our service & get huge discounts</h4>
                    <img class="scissors" src="../../../assets/img/scissors.png" alt="">
                    <div class="scissors-text">
                        <img class="stars" src="../../../assets/img/stars.png" alt="">
                        <p class="get">get</p>
                        <p class="prozent">15 % <br> off</p>
                        <p class="under">for your 1st order</p>
                    </div>
                    <img class="balloon" src="../../../assets/img/balloon.png" alt="">
                    <p class="out-text">Use discount15 as discount code</p>
                </div>
            </div>
        </div>
    </div>
</div>