<div class="container-fluid error">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="boat" src="../../../assets/img/boat.png" alt="">
            </div>
            <div class="col-lg-6 col-md-12">
                <h3>404 Page</h3>
                <h4>Oops. The page you were looking for doesn’t exist</h4>
                <p>You may have mistyped the address or the page may have moved</p>
                <div class="buttons">
                    <a href="../../../index.html"><button class="button button1">Home</button></a>
                    <a href="javascript:history.back()"><button class="button button2">Back</button></a>
                </div>
            </div>
        </div>
    </div>
    <img class="waterwaves" src="../../../assets/img/waterwaves.gif" alt="">
</div>