<header class="container-fluid">
    <div class="container">
        <a href="../../../index.html"><img class="logo" src="../../../assets/img/logo.png" alt="logo"></a>
        <nav>
            <ul type="none">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../../../help.html">Essay help</a></li>
                      <li><a class="dropdown-item" href="../../../error.html">Error</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        about us
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../../../blog.html">Blog</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../../../blog_pages1.html">Blog post 1</a></li>
                      <li><a class="dropdown-item" href="../../../blog_pages2.html">Blog post 2</a></li>
                      <li><a class="dropdown-item" href="../../../blog_pages3.html">Blog post 2</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../../pages_howit.html">How it works</a>
                </li>
            </ul>
            <img class="phone" src="../../../assets/img/phone.png" alt="phone">
            <div class="signIn">sign in</div>
            <div class="order">order</div>
            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../../../assets/img/burger.png" alt="burger" class="burger">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><button class="dropdown-item" type="button"><a style="text-decoration: none; color: #2f2d2d;" href="../../../pages_howit.html">How it works</a></button></li>
                  <li><button class="dropdown-item" type="button"><a style="text-decoration: none; color: #2f2d2d;" href="../../../blog.html">Blog</a></button></li>
                  <li><button class="dropdown-item" type="button"><a style="text-decoration: none; color: #2f2d2d;" href="../../../blog.html">Essay help</a></button></li>
                  <li><button class="dropdown-item" type="button"><a style="text-decoration: none; color: #2f2d2d;" href="../../../error.html">Error</a></button></li>
                </ul>
              </div>
        </nav>
    </div>
</header>