<div class="testimonials container-fluid">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h6>05  Testimonials</h6>
                <h2>What our clients says</h2>
                <img class="photo" src="../../../assets/img/05-user-01.png" alt="">
                <p class="response">Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.</p>
                <h4>Lorna Grey</h4>
                <p class="data">20 apr 2016 at 8:23</p>
              </div>
              <div class="carousel-item">
                <h6>05  Testimonials</h6>
                <h2>What our clients says</h2>
                <img class="photo" src="../../../assets/img/05-user-02.png" alt="">
                <p class="response">Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks. Using BestEssayService.net was possibly the best choice of my academic career.</p>
                <h4>Joan Grey</h4>
                <p class="data">23 apr 2016 at 8:23</p>
              </div>
              <div class="carousel-item">
                <h6>05  Testimonials</h6>
                <h2>What our clients says</h2>
                <img class="photo" src="../../../assets/img/05-user-03.png" alt="">
                <p class="response">No matter what written work I needed, help was available. I would give a full ten marks. Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. </p>
                <h4>Peter Grey</h4>
                <p class="data">24 apr 2016 at 8:23</p>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"><img src="../../../assets/img/arrow.png" alt=""></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"><img src="../../../assets/img/arrow-right.png" alt=""></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>

